<center>
  <div class="client_content">
    <%=react_component('Waybill',{
      currentUserRole: current_user.role.role_name,
      waybillsJSON: @waybills.to_json(include: [ :checkpoints, :startpoint, :endpoint, consignment: { include: :goods} ] )
    }) %>
  </div>
</center>