<center>
  <div class="wrapper">
    <%=react_component('Users',{
        companiesJSON: @serialized_companies,
        rolesJSON: @serialized_roles,
        usersJSON: @serialized_users
    }) %>
  </div>
</center>