<center>
  <div class="wrapper">
    <%=react_component('Users',{
      usersJSON: @user.to_json(include:
                      { role: { only: [:role_name] },
                        company: { only: [:name] },
                        address: { only: %i[town street building apartment] } })
    }) %>
  </div>
</center>