<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user_name %></h1>
    <h2>With all my heart we wish you many happy returns of the day!<br></h2>
    <p>Let all your fond dreams, hopes and expectations come true in your new year.</p>
    <p>We wish you always to have cheerful mood, good health, strength to resist difficulties and patience,</p>
    <p>big success in all your dealings and great personal happiness!</p>
  <img src="https://www.tania-soleil.com/wp-content/uploads/2011/11/Happy-Birthday.jpg" alt="birthday_card"/>
  </body>
</html>
