body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2a6e9bd7;
}
.container {
    width: 40vw;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
.container h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.input-field {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid #2a6e9bd7;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
}
.input-field:hover {
    width: 55%;
    border: 2px solid #2ecc71;
    cursor: pointer;
}
.input-field:focus {
    width: 55%;
    border: 2px solid #2ecc71;
}
.input-box_field {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
}
.eye {
    position: inherit;
    cursor: pointer;
}
#hide1, #hide3, #hide5 {
    display: none;
}
.remember {
    color: #fff;
}
.remember-checkbox {
    cursor: pointer;
}
.share-links {
    color: #2a6e9bd7;
    text-decoration: none;
}
.share-links:visited {
    color: #fff;
}
.share-links:hover {
    color: #2ecc71;
}
.btn, .cancel-btn, .log-out-btn {
    width: 30%;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
    cursor: pointer;
}
.btn:hover, .log-out-btn:hover {
    background: #2ecc71;
}
.cancel-btn {
    border: 2px solid #730E15;
    border-radius: 24px;
}
.cancel-btn:hover {
    background: #730E15;
}
.error-msg {
    color: #e17055;
}
.error-msg li {
    list-style-type: none;
}
/* Navbar styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top:0;
    height: 5.5vh;
    background-color: #191919;
}
.nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.log-out-btn {
    width: 10%;
    display: block;
    margin: 0;
    padding: 10px 8px;
}


