body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2a6e9bd7;
}
.container {
    width: 40vw;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 5px;
}
.container h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.input-field {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #2a6e9bd7;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
}
.input-field:hover {
    width: 55%;
    border: 2px solid #2ecc71;
    cursor: pointer;
}
.input-field:focus {
    width: 55%;
    border: 2px solid #2ecc71;
}
.input-box_field {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
}
.eye {
    position: inherit;
    cursor: pointer;
}
#hide1, #hide3 {
    display: none;
}
.remember {
    color: #fff;
}
.remember-checkbox {
    cursor: pointer;
}
.share-links {
    color: #fff;
}
.share-links:hover {
    color: #2ecc71;
}
.share-links:visited {
    color: #2a6e9bd7;
}
.btn {
    width: 20%;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
    cursor: pointer;
}
.btn:hover {
    background: #2ecc71;
}
.error-msg {
    color: #e17055;
}
.error-msg li {
    list-style-type: none;
}
/* Navbar styles*/
.nav-wrapper {
    margin-top:0;
    height: 2.5vw;
    background-color: #191919;
}
.log-out-btn {
    width: 5%;
    display: block;
    margin-top: 3px;
    margin-right: 3px;
    padding: 10px 8px;
    float: right;
    text-align: center;
    text-decoration: none;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
    cursor: pointer; 
}
.log-out-btn:hover {
    background: #2ecc71;
}

.header-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    border: 8px solid #2ecc71;
    background: #fff;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    animation: anim-header-h1 10s infinite;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}
@keyframes anim-header-h1 {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    }
    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}
.content{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.content_head{
    display:inline-block;
    width: 100%;
}
.clientsbox {
    background-color: #fff;
    border: #2ecc71 solid;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 40%;
    height: 60px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}
.clientscontainerHeader {
    background-color: #fff;;
    border: #2ecc71 solid;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 49%;
    height: 90px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

