body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2a6e9bd7;
}
.container {
    width: 40vw;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 5px;
}
.container h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.input-field {
    width: 50%;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #2a6e9bd7;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
}
.input-field:focus {
    width: 55%;
    border-color: #2ecc71;
}
.remember {
    color: #fff;
}
.remember-checkbox {
    cursor: pointer;
}
.share-links {
    color: #fff;
}
.share-links:hover {
    color: #2ecc71;
}
.share-links:visited {
    color: #2a6e9bd7;
}
.btn {
    width: 20%;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.25s;
    cursor: pointer;
}
.btn:hover {
    background: #2ecc71;
}