<center>
  <div class="client_content">
    <%=react_component('Consignment',{
      currentUserRole: current_user.role.role_name,
      driversJSON: @drivers.to_json, trucksJSON: @trucks.to_json, 
      warehousesJSON: @warehouses.to_json, goodsOwnersJSON: @goods_owners.to_json,
      consignmentsJSON: @consignments.to_json(include: %i[dispatcher manager waybill goods truck driver]),
      }) %>
  </div>
</center>