<center>
  <div class="client_content">
    <%=react_component('Warehouse',{
      currentUserRole: current_user.role.role_name,
      warehousesJSON: @warehouses.to_json,
      warehousemansData: @warehousemans
    }) %>
  </div>
</center>