<center>
  <div class="client_content">
    <%=react_component('Warehouse',{
      currentUserRole: current_user.role.role_name,
      warehousesJSON: @serialized_warehouses,
      warehousemansJSON: @serialized_warehousemans
    }) %>
  </div>
</center>